.tabs-main {
  height: 85%;
  overflow: hidden;
}
.tabs-main .tabs-name {
  padding: 0;
}
@media (max-width: 800px) {
  .tabs-main .tabs-name {
    display: flex;
    align-items: center;
  }
}
.tabs-name .tab-name-btn {
  padding: 19px 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  text-align: left;
}
.tabs-name-btn-active {
  color: #34a853;
  border-right: 1px solid #34a853;
  background: rgba(52, 168, 83, 0.1);
}
.row-tabs-main {
  position: relative;
  height: 100%;
}
.row-tabs-main .form-main {
  border-left: 1px solid hsla(208, 13%, 45%, 0.39);
}
